.task-trendline {
    width: 480px;
    height: 96px;
    background-color: #000000;
    border-radius: 5px 0px 0px 5px;
}

.task-trendline-title {
    font-family: "Calibri";
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    display: inline;
    float: left;
    margin: 0;
}

.task-trendline-legend {
    display: inline;
    float: right;
    padding-top: 0;
    width: 100%;
}

.task-trendline-legend-label {
    font-family: "Calibri";
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
    padding-left: 5px;
}
